FORUM_BASE_URL=http://127.0.0.1:9580
FORUM_BROWSER=chrome
FORUM_HEADLESS=false
FORUM_IMPLICIT_WAIT=5
FORUM_EXPLICIT_WAIT=10
FORUM_WINDOW_WIDTH=1440
FORUM_WINDOW_HEIGHT=900
FORUM_REPORT_NAME=ui_test_report.html
FORUM_LOG_FILE=framework.log
FORUM_USERNAME=zhangsanfeng
FORUM_PASSWORD=123
FORUM_WRONG_PASSWORD=1234
FORUM_SUITE=all
