BLOG_BASE_URL=http://115.190.63.202:9090
BLOG_BROWSER=chrome
BLOG_HEADLESS=false
BLOG_IMPLICIT_WAIT=5
BLOG_EXPLICIT_WAIT=10
BLOG_WINDOW_WIDTH=1440
BLOG_WINDOW_HEIGHT=900
BLOG_REPORT_NAME=ui_test_report.html
BLOG_LOG_FILE=framework.log
BLOG_USERNAME=zhangsan
BLOG_PASSWORD=123456
BLOG_WRONG_PASSWORD=123
BLOG_UNKNOWN_USERNAME=zhangsa
BLOG_SUITE=all
